fastapi==0.115.12
uvicorn==0.34.1
sqlalchemy==2.0.25
psycopg2-binary==2.9.10
pydantic==2.11.3
python-dotenv==1.0.0
alembic==1.13.1
starlette==0.46.2
anyio==4.9.0 
beautifulsoup4
dj-database-url>=2.1.0
Django==5.2
gunicorn==21.2.0
markdown>=3.5.2
psycopg2-binary==2.9.9
python-dotenv==1.0.1
requests
sendgrid>=6.10.0
whitenoise>=6.6.0
google-api-python-client
google-auth
google-auth-httplib2
pillow-heif