[build]
builder = "railpack"
buildCommand = "pip install -r requirements.txt"

[deploy]
startCommand = "python manage.py loaddata data.json --exclude core.lead --exclude core.portal && gunicorn liftoff.wsgi:application --bind 0.0.0.0:$PORT --workers 4 --timeout 120" 